body{background-color:#afeeee;}
hr{background-color:white;border-style:none;border-top:dotted;border-color:green ;border-width: 5px;  width:3%;}
h1{ color:hsl(0, 100%, 25%);}
h3{ color:hsl(0, 100%, 25%);

}
b{color:#ffa07a	;}
div{color:black;}